@import "colors"
@import "reset"

html
	font-size: 16px
	h1
		font-style: normal
		font-weight: 500
		font-size: 48px
	h2
		font-style: normal
		font-weight: 500
		font-size: 36px
	h3
		font-style: normal
		font-weight: 500
		font-size: 30px
	h4
		font-style: normal
		font-weight: 500
		font-size: 24px
	p
		font-style: normal
		font-weight: normal
		line-height: normal
		font-size: 19px

body
	border: 8px solid $default_blue
	overflow-x: hidden
	&.black
		border: 8px solid $default_blue
	*
		color: $tm
		font-family: 'Rubik', sans-serif
	a
		text-decoration: none
	.page_content
		position: absolute
		top: 0
		bottom: -40rem
		left: 0
		right: 0
		z-index: -1
		opacity: 0.4
.black
	background-color: $black
	*
		color: $white



.wrapper
	max-width: 1280px
	margin: auto
	.change
		&_theme
			position: absolute
			top: 0
			left: 50%
			transform: translate(-50%, 0)
			display: flex
			flex-direction: column
			justify-content: space-around
			align-items: center
			border-radius: 0 0 10px 10px
			background-color: $default_blue
			transition-property: height
			transition-duration: 0.3s
			height: 2.6rem
			width: 21rem
			&:hover
				cursor: pointer
			*
				color: $white
			h4
				margin-top: -0.7rem
			&-colors
				width: 100%
				position: relative
				display: flex
				flex-direction: row
			&.active
				height: 9rem
				.change_theme-black, .change_theme-white
					display: flex
			&-black, &-white				
				display: none
				width: 50%
				flex-direction: column
				justify-content: center
				align-items: center
				cursor: pointer
				padding-bottom: 0.3rem
				border-bottom: 2px dashed $default_blue
				p
					text-align: center
				&:hover
					border-bottom: 2px dashed $white
			&-icon
				display: inline-block
				width: 70px
				height: 70px
				border-radius: 50%
				margin-right: 5%
				margin-left: 4%
			&-black
				top: 0
				left: 0
				border-right: 2px dashed $white
				.change_theme-icon
					background-color: $black
			&-white
				top: 0
				right: 0rem
				.change_theme-icon
					background-color: $white
					

			
.top_bar
	margin: 3rem 3rem 2rem
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	&-logo
		max-width: 7%
		margin-right: 5%
		a		
			img
				max-height: 4vw
	&-menu
		&-btn
			display: none
		&-main
			display: flex
			flex-direction: row
			max-width: 71%
			width: 100%
			margin-right: 3%
			a
				margin: 0 0.18vw	
				flex-grow: 1
				border: 4px solid transparent
				border-image: $blue_gradient
				border-image-slice: 1
				line-height: 4rem
				text-align: center
				vertical-align: middle
				&.active
					background: $blue_gradient
					h4
						color: $white
						font-weight: bold					
				&:hover
					background: $blue_gradient
					h4
						color: $white
		&-profile
			display: flex
			align-items: center
			justify-content: center
			flex-direction: row
			max-width: 17%
			width: 100%
			a#top_bar_profile
				display: flex
				align-items: center
				justify-content: center
				width: 100%
				div
					width: 4rem
					height: 4rem
					background-color: $blue_uc
					border-radius: 50%
					margin-left: 17px
			&-login
				display: flex
				width: 100%
				a
					width: 100%
					border: 3px solid transparent
					border-image: $blue_gradient
					border-image-slice: 1
					line-height: 3rem
					text-align: center
					&:hover
						color: $white
						background: $blue_gradient
			&-sign_up

.form
	&-login
		position: absolute
		right: 50%
		top: 50%
		transform: translate(50%, -50%)
		height: 36vw
		width: 27vw
		background: $default_blue
		border-radius: 17px
		z-index: 999
		*
			color: $white
		button, input
			border: 4px solid $white
			border-radius: 17px			
		&-blur
			height: 100vh
			width: 100vw
			background-color: $tm
			opacity: 0.4
			position: absolute
			top: 0
			left: 0
			filter: blur(7px) contrast(.8) brightness(.8)
			z-index: 998
		&_container
			display: flex
			width: 60%
			flex-direction: column
			position: absolute
			top: 50%
			right: 50%
			transform: translate(50%, -50%)
			h3
				margin-bottom: 0.7vw
				font-weight: bold
				text-align: center				
			label
				font-size: 1rem
				margin: -0.7vw 0 0.7vw
				.remember_me
					margin-bottom: 0
					margin-left: 1vw
			input
				padding-left: 1vw	
				margin: 0.7vw 0vw
				font-size: 1.2rem
				line-height: 3.6rem
				color: $tm							
			button
				margin-top: 0.7vw
				background: $default_blue
				line-height: 3rem
				font-weight: bold			
				cursor: pointer
			a
				margin: 1.7vw auto 0
				&:hover
					p
						color: $safe_red
					h4
						border-bottom: 3px dotted $safe_red
				h4
					border-bottom: 3px dotted $white
					line-height: 2rem
			&_cancel
				position: absolute
				background-color: $default_blue
				top: 3%
				right: 5%
				padding: 0.7vw
				border: 4px solid $white
				cursor: pointer
		&_wrapper
			display: none
			&_active
				display: flex

.service_block
	max-width: 100%
	&-links
		height: 60rem
		margin-top: 0.7vw
		&-grid-container
			height: 100% 			
			display: grid
			grid-gap: 2em
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr
			grid-template-areas: "service_block-links-development service_block-links-development service_block-links-development service_block-links-hosting service_block-links-hosting service_block-links-hosting service_block-links-hosting service_block-links--consultation service_block-links--consultation"			"service_block-links-development service_block-links-development service_block-links-development service_block-links-hosting service_block-links-hosting service_block-links-hosting service_block-links-hosting service_block-links--consultation service_block-links--consultation" 			" service_block-links-design service_block-links-design service_block-links-design service_block-links-hosting service_block-links-hosting service_block-links-hosting service_block-links-hosting service_block-links--consultation service_block-links--consultation" 			"service_block-links-design service_block-links-design service_block-links-design service_block-links-promotion service_block-links-promotion service_block-links-promotion service_block-links--service service_block-links--service service_block-links--service" 			"service_block-links-job service_block-links-job service_block-links-job service_block-links-promotion service_block-links-promotion service_block-links-promotion service_block-links--service service_block-links--service service_block-links--service" 			"service_block-links-job service_block-links-job service_block-links-job service_block-links-security service_block-links-security service_block-links-security  service_block-links-others service_block-links-others service_block-links-others " 			"service_block-links-job service_block-links-job service_block-links-job  service_block-links-security service_block-links-security service_block-links-security service_block-links-others service_block-links-others service_block-links-others"
			a
				background-size: cover !important
				background-position: center !important
				color: red
				height: 100%
				border: 4px solid $blue_uc
				border-image: $blue_gradient
				border-image-slice: 1
		.service_links-link
			display: flex
			justify-content: center
			align-items: center
			min-height: 7vw
			background-size: cover !important
			background-position: center !important
			border: 4px solid $blue_uc
			border-image: $blue_gradient
			border-image-slice: 1
			text-decoration: none
			transition: border 1s ease-out 15s
			font-size: 1.4vw
			font-weight: bold
			position: relative
			h4
				position: absolute
				border: 4px dashed $blue_uc
				padding: 1rem
				background-color: $white
				font-weight: bold
				color: $blue_uc					
			&:hover
				border: 4px solid $blue_uc
			&:active
				box-shadow: -0.05vw -0.1vw 0.05vw $white	
			span
				opacity: 0	
		.service_links-link.black
			h4
				background-color: $black

		&-development
			grid-area: service_block-links-development
			a.service_links-link
				h4
					top: 50%
					left: 22%
					padding: 1.7rem 1rem
					transform: translateY(-50%)
		&-hosting
			grid-area: service_block-links-hosting
			a.service_links-link
				h4
					position: absolute
					bottom: 10%
					border: 3px dashed $blue_uc
					padding: 1rem
					background-color: $white
					font-weight: bold
					color: $blue_uc
			a.black
				h4
					background-color: $black
		&--consultation
			grid-area: service_block-links--consultation
			h4
				color: $white
		&-security
			grid-area: service_block-links-security
		&-design
			grid-area: service_block-links-design
		&--service
			grid-area: service_block-links--service
		&-job
			grid-area: service_block-links-job
		&-promotion
			grid-area: service_block-links-promotion
		&-others
			grid-area: service_block-links-others


footer
	margin-top: 2.7vw
	background-color: lighten($default_blue, 30%)
	&.black
		background-color: darken($blue_uc, 27%)
		color: darken($white, 17%)
	#footer
		display: grid
		max-width: 1520px
		margin: auto
		padding: 0.7vw 0
		grid-gap: 2em
		grid-template-columns: repeat(4, 1fr)
		.footer
			display: flex
			flex-direction: column
			h3
				font-weight: bold
				font-size: 1.7vw
				padding: 0.4vw 0
			a
				font-size: 1vw
				line-height: 1.7vw
				padding-left: 0.4vw
				&:hover
					color: $default_blue
					border-bottom: 1px dashed $white
					border-left: 1px dashed $white

@media (max-width: 1330px)



	
	footer
		margin-top: 2vw
		max-width: 90vw
		.footer
			h3
				font-size: 2.1vw
				padding: 0.6vw 0
			a
				font-size: 1.4vw
				line-height: 2.1vw
				padding-left: 0.6vw		

@media (max-width: 992px)


	
	footer
		max-width: 100vw
		.footer
			h3
				font-size: 2.7vw
				padding: 0.7vw 0
			a
				font-size: 1.7vw
				line-height: 2.7vw
				padding-left: 0.4vw

@media (max-width: 767px)
	.top_bar
		&-menu
			&-main
				display: none
				&_active
					position: absolute
					display: flex
					height: 100%
					width: 100vw
					right: -29.3vw
					top: 11vw
					flex-direction: column	
					z-index: 9999
					a
						font-size: 4vw
						line-height: 7vw							
			&-btn
				display: block
				width: 100%
				background-color: darken($main-color, 2.1%)
				border: 3px solid $default-red
				border-image: $default_gradient
				border-image-slice: 1
				font-size: 4vw
				line-height: 7vw
				text-align: center
				&_active
					border: 3px dotted $default-red
					background-color: lighten($main-color, 17%)
	.form
		&-login
			height: 70vw
			width: 70vw		
			&-blur
				height: 100vw
				width: 90vw
			&_container
				font-size: 3.1vw
				&_cancel
					font-size: 2.1vw
					padding: 1.2vw
					border: 2px solid transparent
					border-image: $blue_gradient
					border-image-slice: 1

			&-profile
				&-name
					font-size: 2.7vw					
				&-img
					width: 7vw
					height: 7vw

	.service_links
		h1
			font-size: 7vw
			line-height: 11vw
			margin-bottom: 0
		&-link
			height: 50vw
			font-size: 6vw
			line-height: 50vw	

	footer
		margin-bottom: 3.7vw
		.footer
			h3
				font-weight: bold
				font-size: 4vw
				padding: 3vw 0 1.7vw
			a
				font-size: 2.7vw
				line-height: 3.7vw
				padding: 0.7vw 0 1.2vw 1.7vw
				&:hover
					color: $default_blue
					border-bottom: 1px dashed $white
					border-left: 1px dashed $white

@media (max-width: 576px)

	.top_bar
		&-logo
			a
				font-size: 7vw
				line-height: 9vw
			div
				height: 9vw
				filter: blur(7vw)
		&-menu
			&-btn
				font-size: 4.6vw
				line-height: 9vw
			&-profile
				&-login
					line-height: 4.6vw
				&-name
					font-size: 2.1vw					
				&-img
					width: 6vw
					height: 6vw
	.form
		&-login
			height: 80vh
			width: 90vw		
			&-blur
				height: 127vw
				width: 90vw
			&_container
				font-size: 4.6vw
				input
					padding: 2.7vw
					margin: 2.1vw 0 4.6vw
					color: $main-color				
				button
					padding: 2.7vw
					margin-top: 1.7vw
				a
					margin: 3.7vw auto 0
					font-size: 2.7vw
					line-height: 2.7vw
					span
						border-bottom: 3px dotted $default_blue
						font-size: 3.7vw
				&_cancel
					top: 2vw
					right: 2vw
					font-size: 3.4vw
					padding: 2.1vw
					border: 2px solid transparent
					border-image: $blue_gradient
					border-image-slice: 1
	.service_links
			&-link
				height: 50vw
				font-size: 6vw
				line-height: 50vw
	body
		h1
			font-size: 7vw
			margin: 1.7vw 0
	footer
		margin-bottom: 3.7vw
		.footer
			h3
				font-weight: bold
				font-size: 6vw
				padding: 6vw 0 2.7vw
			a
				font-size: 3.7vw
				line-height: 4.7vw
				padding: 0.7vw 0 1.2vw 1.7vw
				&:hover
					color: $default_blue
					border-bottom: 1px dashed $white
					border-left: 1px dashed $white


	// linear-gradient(to right, #00C2FF, #FF003D)
	// filter: drop-shadow(0px 10px 20px rgba(55, 123, 255, 0.1))