html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  border: 8px solid #1565FF;
}
body h1 {
  font-size: 2.7vw;
  font-weight: bold;
  margin: 1.7vw 0;
  text-align: center;
}
body * {
  color: #47525E;
  font-family: "Rubik", sans-serif;
}
body a {
  text-decoration: none;
}

.top_bar {
  margin: 2.7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top_bar-logo {
  position: relative;
  margin-right: 3%;
}
.top_bar-logo a img {
  max-height: 4vw;
}
.top_bar-logo div {
  position: absolute;
  width: 4vw;
  height: 4vw;
  bottom: 50%;
  right: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  background: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
  background: linear-gradient(to right, #00C2FF, #1565FF);
  -webkit-filter: blur(4vw);
          filter: blur(4vw);
  z-index: -1;
}
.top_bar-menu-btn {
  display: none;
}
.top_bar-menu-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  margin-right: 3%;
}
.top_bar-menu-main a {
  border: 4px solid transparent;
  -o-border-image: linear-gradient(to right, #00C2FF, #1565FF);
     border-image: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
     border-image: linear-gradient(to right, #00C2FF, #1565FF);
  border-image-slice: 1;
  padding: 1.2vw 0;
  margin: 0 0.18vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.4vw;
  text-align: center;
  vertical-align: middle;
}
.top_bar-menu-main a.active {
  color: #fff;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
  background: linear-gradient(to right, #00C2FF, #1565FF);
}
.top_bar-menu-main a:hover {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
  background: linear-gradient(to right, #00C2FF, #1565FF);
}
.top_bar-menu-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 17%;
}
.top_bar-menu-profile-name {
  font-size: 1.2vw;
}
.top_bar-menu-profile-img {
  width: 3vw;
  height: 3vw;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 17px;
}
.top_bar-menu-profile-login, .top_bar-menu-profile-sign_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 0.18vw;
}
.top_bar-menu-profile-login a, .top_bar-menu-profile-sign_up a {
  width: 100%;
  padding: 0.7vw 0;
  border: 3px solid transparent;
  -o-border-image: linear-gradient(to right, #00C2FF, #1565FF);
     border-image: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
     border-image: linear-gradient(to right, #00C2FF, #1565FF);
  border-image-slice: 1;
  text-align: center;
}
.top_bar-menu-profile-login a:hover, .top_bar-menu-profile-sign_up a:hover {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
  background: linear-gradient(to right, #00C2FF, #1565FF);
}

.form-login {
  height: 44vw;
  width: 31vw;
  background: #1565FF;
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  z-index: 999;
  border-radius: 40px;
}
.form-login * {
  color: #fff;
}
.form-login button, .form-login input {
  border: 4px solid #fff;
  border-radius: 40px;
}
.form-login-blur {
  height: 100vw;
  width: 97vw;
  background-color: #fff;
  opacity: 0.7;
  position: absolute;
  top: 0;
  -webkit-filter: blur(1.7vw) contrast(0.8) brightness(0.8);
          filter: blur(1.7vw) contrast(0.8) brightness(0.8);
  z-index: 998;
}
.form-login_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.7vw;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.form-login_container h2 {
  margin-bottom: 0.7vw;
  font-weight: bold;
  text-align: center;
}
.form-login_container label {
  font-size: 1vw;
  margin: -1.2vw 0 0.7vw;
}
.form-login_container label .remember_me {
  margin-bottom: 0;
  margin-left: 1vw;
}
.form-login_container input {
  padding-left: 1vw;
  margin: 0.4vw 0 1.7vw;
  font-size: 1.2vw;
  line-height: 3.7vw;
  color: #47525E;
}
.form-login_container button {
  margin-top: 0.4vw;
  background: #1565FF;
  font-size: 1.7vw;
  line-height: 4vw;
  font-weight: bold;
  cursor: pointer;
}
.form-login_container a {
  margin: 1vw auto 0;
  font-size: 1.2vw;
  line-height: 1.7vw;
}
.form-login_container a span {
  border-bottom: 3px dotted #fff;
  font-size: 1.7vw;
}
.form-login_container_cancel {
  position: absolute;
  background-color: #1565FF;
  top: 1vw;
  right: 1vw;
  padding: 0.7vw;
  border: 4px solid #fff;
  font-size: 1.2vw;
  cursor: pointer;
}
.form-login_wrapper {
  display: none;
}
.form-login_wrapper_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service_links {
  max-width: 70%;
  margin: auto;
  margin-top: 0.7vw;
}
.service_links-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.service_links-links .service_links-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 7vw;
  background-size: cover !important;
  background-position: center !important;
  border: 4px solid #175EE8;
  -o-border-image: linear-gradient(to right, #00C2FF, #1565FF);
     border-image: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
     border-image: linear-gradient(to right, #00C2FF, #1565FF);
  border-image-slice: 1;
  text-decoration: none;
  -webkit-transition: border 1s ease-out 15s;
  transition: border 1s ease-out 15s;
  font-size: 1.4vw;
  font-weight: bold;
  position: relative;
}
.service_links-links .service_links-link:first-child {
  width: 30%;
}
.service_links-links .service_links-link:hover {
  border: 4px solid #FF003D;
  color: #1565FF;
}
.service_links-links .service_links-link:active {
  -webkit-box-shadow: -0.05vw -0.1vw 0.05vw #fff;
          box-shadow: -0.05vw -0.1vw 0.05vw #fff;
}
.service_links-links .service_links-link span {
  opacity: 0;
}

.hover-red:hover {
  color: #FF003D;
}

footer {
  max-width: 77vw;
  margin: 0.7vw auto;
}
footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer h3 {
  font-weight: bold;
  font-size: 1.7vw;
  padding: 0.4vw 0;
}
footer .footer a {
  font-size: 1vw;
  line-height: 1.7vw;
  padding-left: 0.4vw;
}
footer .footer a:hover {
  color: #1565FF;
  border-bottom: 1px dashed #fff;
  border-left: 1px dashed #fff;
}

@media (max-width: 1280px) {
  .top_bar-logo div {
    width: 60%;
    -webkit-filter: blur(2.7vw);
            filter: blur(2.7vw);
  }

  .service_links {
    max-width: 90vw;
  }
  .service_links h1 {
    font-size: 3vw;
    line-height: 6vw;
    margin: 0;
  }
  .service_links-link {
    height: 12vw;
    line-height: 12vw;
  }

  footer {
    margin-top: 2vw;
    max-width: 90vw;
  }
  footer .footer h3 {
    font-size: 2.1vw;
    padding: 0.6vw 0;
  }
  footer .footer a {
    font-size: 1.4vw;
    line-height: 2.1vw;
    padding-left: 0.6vw;
  }
}
@media (max-width: 992px) {
  .top_bar-logo a {
    font-size: 4vw;
    line-height: 6vw;
  }
  .top_bar-logo div {
    width: 70%;
    height: 6vw;
    -webkit-filter: blur(4vw);
            filter: blur(4vw);
  }
  .top_bar-menu-main {
    font-size: 2.1vw;
    line-height: 3vw;
  }
  .top_bar-menu-profile-name {
    font-size: 2.1vw;
  }
  .top_bar-menu-profile-img {
    width: 6vw;
    height: 6vw;
  }
  .top_bar-menu-profile-sign_up {
    display: none;
  }

  .form-login {
    height: 60vw;
    width: 60vw;
  }
  .form-login-blur {
    height: 100vw;
    width: 90vw;
  }
  .form-login_container {
    font-size: 2.7vw;
  }
  .form-login_container input {
    padding: 1.7vw;
    margin: 1.2vw 0 2.7vw;
    color: #fff;
  }
  .form-login_container button {
    padding: 1.7vw;
    margin-top: 0.7vw;
  }
  .form-login_container a {
    margin: 1.7vw auto 0;
    font-size: 1.4vw;
    line-height: 2.1vw;
  }
  .form-login_container a span {
    border-bottom: 3px dotted #1565FF;
    font-size: 2.1vw;
  }
  .form-login_container_cancel {
    font-size: 1.7vw;
    padding: 1.2vw;
    border: 2px solid transparent;
    -o-border-image: linear-gradient(to right, #00C2FF, #1565FF);
       border-image: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
       border-image: linear-gradient(to right, #00C2FF, #1565FF);
    border-image-slice: 1;
  }

  .service_links {
    max-width: 100vw;
  }
  .service_links h1 {
    font-size: 4vw;
    line-height: 7vw;
    margin: 0;
  }
  .service_links-link {
    height: 15vw;
    line-height: 15vw;
    font-size: 2.1vw;
  }

  footer {
    max-width: 100vw;
  }
  footer .footer h3 {
    font-size: 2.7vw;
    padding: 0.7vw 0;
  }
  footer .footer a {
    font-size: 1.7vw;
    line-height: 2.7vw;
    padding-left: 0.4vw;
  }
}
@media (max-width: 767px) {
  .top_bar-logo a {
    font-size: 6vw;
    line-height: 7vw;
  }
  .top_bar-logo div {
    width: 77%;
    height: 7vw;
    -webkit-filter: blur(4vw);
            filter: blur(4vw);
  }
  .top_bar-menu-main {
    display: none;
  }
  .top_bar-menu-main_active {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100vw;
    right: -29.3vw;
    top: 11vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 9999;
  }
  .top_bar-menu-main_active a {
    font-size: 4vw;
    line-height: 7vw;
  }
  .top_bar-menu-btn {
    display: block;
    width: 100%;
    background-color: #fafafa;
    border: 3px solid #FF003D;
    -o-border-image: linear-gradient(to right, #1565FF, 50%, #FF003D);
       border-image: -webkit-gradient(linear, left top, right top, from(#1565FF), color-stop(50%), to(#FF003D));
       border-image: linear-gradient(to right, #1565FF, 50%, #FF003D);
    border-image-slice: 1;
    font-size: 4vw;
    line-height: 7vw;
    text-align: center;
  }
  .top_bar-menu-btn_active {
    border: 3px dotted #FF003D;
    background-color: white;
  }

  .form-login {
    height: 70vw;
    width: 70vw;
  }
  .form-login-blur {
    height: 100vw;
    width: 90vw;
  }
  .form-login_container {
    font-size: 3.1vw;
  }
  .form-login_container_cancel {
    font-size: 2.1vw;
    padding: 1.2vw;
    border: 2px solid transparent;
    -o-border-image: linear-gradient(to right, #00C2FF, #1565FF);
       border-image: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
       border-image: linear-gradient(to right, #00C2FF, #1565FF);
    border-image-slice: 1;
  }
  .form-login-profile-name {
    font-size: 2.7vw;
  }
  .form-login-profile-img {
    width: 7vw;
    height: 7vw;
  }

  .service_links h1 {
    font-size: 7vw;
    line-height: 11vw;
    margin-bottom: 0;
  }
  .service_links-link {
    height: 50vw;
    font-size: 6vw;
    line-height: 50vw;
  }

  footer {
    margin-bottom: 3.7vw;
  }
  footer .footer h3 {
    font-weight: bold;
    font-size: 4vw;
    padding: 3vw 0 1.7vw;
  }
  footer .footer a {
    font-size: 2.7vw;
    line-height: 3.7vw;
    padding: 0.7vw 0 1.2vw 1.7vw;
  }
  footer .footer a:hover {
    color: #1565FF;
    border-bottom: 1px dashed #fff;
    border-left: 1px dashed #fff;
  }
}
@media (max-width: 576px) {
  .top_bar-logo a {
    font-size: 7vw;
    line-height: 9vw;
  }
  .top_bar-logo div {
    height: 9vw;
    -webkit-filter: blur(7vw);
            filter: blur(7vw);
  }
  .top_bar-menu-btn {
    font-size: 4.6vw;
    line-height: 9vw;
  }
  .top_bar-menu-profile-login {
    line-height: 4.6vw;
  }
  .top_bar-menu-profile-name {
    font-size: 2.1vw;
  }
  .top_bar-menu-profile-img {
    width: 6vw;
    height: 6vw;
  }

  .form-login {
    height: 80vh;
    width: 90vw;
  }
  .form-login-blur {
    height: 127vw;
    width: 90vw;
  }
  .form-login_container {
    font-size: 4.6vw;
  }
  .form-login_container input {
    padding: 2.7vw;
    margin: 2.1vw 0 4.6vw;
    color: #fff;
  }
  .form-login_container button {
    padding: 2.7vw;
    margin-top: 1.7vw;
  }
  .form-login_container a {
    margin: 3.7vw auto 0;
    font-size: 2.7vw;
    line-height: 2.7vw;
  }
  .form-login_container a span {
    border-bottom: 3px dotted #1565FF;
    font-size: 3.7vw;
  }
  .form-login_container_cancel {
    top: 2vw;
    right: 2vw;
    font-size: 3.4vw;
    padding: 2.1vw;
    border: 2px solid transparent;
    -o-border-image: linear-gradient(to right, #00C2FF, #1565FF);
       border-image: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
       border-image: linear-gradient(to right, #00C2FF, #1565FF);
    border-image-slice: 1;
  }

  .service_links-link {
    height: 50vw;
    font-size: 6vw;
    line-height: 50vw;
  }

  body h1 {
    font-size: 7vw;
    margin: 1.7vw 0;
  }

  footer {
    margin-bottom: 3.7vw;
  }
  footer .footer h3 {
    font-weight: bold;
    font-size: 6vw;
    padding: 6vw 0 2.7vw;
  }
  footer .footer a {
    font-size: 3.7vw;
    line-height: 4.7vw;
    padding: 0.7vw 0 1.2vw 1.7vw;
  }
  footer .footer a:hover {
    color: #1565FF;
    border-bottom: 1px dashed #fff;
    border-left: 1px dashed #fff;
  }
}
