html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
}
html h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
}
html h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}
html h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
html p {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 19px;
}

body {
  border: 8px solid #1565FF;
  overflow-x: hidden;
}
body * {
  color: #47525E;
  font-family: "Rubik", sans-serif;
}
body a {
  text-decoration: none;
}

.wrapper {
  max-width: 1520px;
  margin: auto;
}

.top_bar {
  margin: 1.7vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top_bar-logo {
  max-width: 7%;
  margin-right: 5%;
}
.top_bar-logo a img {
  max-height: 4vw;
}
.top_bar-menu-btn {
  display: none;
}
.top_bar-menu-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 71%;
  width: 100%;
  margin-right: 3%;
}
.top_bar-menu-main a {
  margin: 0 0.18vw;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 4px solid transparent;
  -o-border-image: linear-gradient(to right, #00C2FF, #1565FF);
     border-image: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
     border-image: linear-gradient(to right, #00C2FF, #1565FF);
  border-image-slice: 1;
  line-height: 4rem;
  text-align: center;
  vertical-align: middle;
}
.top_bar-menu-main a.active {
  background: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
  background: linear-gradient(to right, #00C2FF, #1565FF);
}
.top_bar-menu-main a.active h4 {
  color: #fff;
  font-weight: bold;
}
.top_bar-menu-main a:hover {
  background: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
  background: linear-gradient(to right, #00C2FF, #1565FF);
}
.top_bar-menu-main a:hover h4 {
  color: #fff;
}
.top_bar-menu-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 17%;
  width: 100%;
}
.top_bar-menu-profile a#top_bar_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.top_bar-menu-profile a#top_bar_profile div {
  width: 4rem;
  height: 4rem;
  background-color: #175EE8;
  border-radius: 50%;
  margin-left: 17px;
}
.top_bar-menu-profile-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.top_bar-menu-profile-login a {
  width: 100%;
  border: 3px solid transparent;
  -o-border-image: linear-gradient(to right, #00C2FF, #1565FF);
     border-image: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
     border-image: linear-gradient(to right, #00C2FF, #1565FF);
  border-image-slice: 1;
  line-height: 3rem;
  text-align: center;
}
.top_bar-menu-profile-login a:hover {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
  background: linear-gradient(to right, #00C2FF, #1565FF);
}

.form-login {
  position: absolute;
  right: 50%;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  height: 44vw;
  width: 31vw;
  background: #1565FF;
  border-radius: 17px;
  z-index: 999;
}
.form-login * {
  color: #fff;
}
.form-login button, .form-login input {
  border: 4px solid #fff;
  border-radius: 17px;
}
.form-login-blur {
  height: 100vh;
  width: 100vw;
  background-color: #47525E;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-filter: blur(7px) contrast(0.8) brightness(0.8);
          filter: blur(7px) contrast(0.8) brightness(0.8);
  z-index: 998;
}
.form-login_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  right: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}
.form-login_container h3 {
  margin-bottom: 0.7vw;
  font-weight: bold;
  text-align: center;
}
.form-login_container label {
  font-size: 1rem;
  margin: -0.7vw 0 0.7vw;
}
.form-login_container label .remember_me {
  margin-bottom: 0;
  margin-left: 1vw;
}
.form-login_container input {
  padding-left: 1vw;
  margin: 0.7vw 0vw;
  font-size: 1.2rem;
  line-height: 3.6rem;
  color: #47525E;
}
.form-login_container button {
  margin-top: 0.7vw;
  background: #1565FF;
  line-height: 3rem;
  font-weight: bold;
  cursor: pointer;
}
.form-login_container a {
  margin: 1.7vw auto 0;
}
.form-login_container a:hover p {
  color: #FA8072;
}
.form-login_container a:hover h4 {
  border-bottom: 3px dotted #FA8072;
}
.form-login_container a h4 {
  border-bottom: 3px dotted #fff;
  line-height: 2rem;
}
.form-login_container_cancel {
  position: absolute;
  background-color: #1565FF;
  top: 3%;
  right: 5%;
  padding: 0.7vw;
  border: 4px solid #fff;
  cursor: pointer;
}
.form-login_wrapper {
  display: none;
}
.form-login_wrapper_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service_block {
  max-width: 100%;
}
.service_block-links {
  height: 127vh;
  margin-top: 0.7vw;
}
.service_block-links-grid-container {
  height: 100%;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "service_block-links-development service_block-links-development service_block-links-development service_block-links-hosting service_block-links-hosting service_block-links-hosting service_block-links-hosting service_block-links--consultation service_block-links--consultation" "service_block-links-development service_block-links-development service_block-links-development service_block-links-hosting service_block-links-hosting service_block-links-hosting service_block-links-hosting service_block-links--consultation service_block-links--consultation" "service_block-links-security service_block-links-security service_block-links-security service_block-links-hosting service_block-links-hosting service_block-links-hosting service_block-links-hosting service_block-links--consultation service_block-links--consultation" "service_block-links-security service_block-links-security service_block-links-security service_block-links-design service_block-links-design service_block-links-design service_block-links--service service_block-links--service service_block-links--service" "service_block-links-job service_block-links-job service_block-links-job service_block-links-design service_block-links-design service_block-links-design service_block-links--service service_block-links--service service_block-links--service" "service_block-links-job service_block-links-job service_block-links-job  service_block-links-others service_block-links-others service_block-links-others service_block-links-others service_block-links-others service_block-links-others" "service_block-links-job service_block-links-job service_block-links-job  service_block-links-others service_block-links-others service_block-links-others service_block-links-others service_block-links-others service_block-links-others";
}
.service_block-links-grid-container a {
  background-size: cover !important;
  background-position: center !important;
  color: red;
  height: 100%;
  border: 4px solid #175EE8;
  -o-border-image: linear-gradient(to right, #00C2FF, #1565FF);
     border-image: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
     border-image: linear-gradient(to right, #00C2FF, #1565FF);
  border-image-slice: 1;
}
.service_block-links .service_links-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 7vw;
  background-size: cover !important;
  background-position: center !important;
  border: 4px solid #175EE8;
  -o-border-image: linear-gradient(to right, #00C2FF, #1565FF);
     border-image: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
     border-image: linear-gradient(to right, #00C2FF, #1565FF);
  border-image-slice: 1;
  text-decoration: none;
  -webkit-transition: border 1s ease-out 15s;
  transition: border 1s ease-out 15s;
  font-size: 1.4vw;
  font-weight: bold;
  position: relative;
}
.service_block-links .service_links-link h3 {
  position: absolute;
  border: 4px dashed #175EE8;
  padding: 1rem;
  background-color: #fff;
  font-weight: bold;
  color: #175EE8;
}
.service_block-links .service_links-link:hover {
  border: 4px solid #175EE8;
}
.service_block-links .service_links-link:active {
  -webkit-box-shadow: -0.05vw -0.1vw 0.05vw #fff;
          box-shadow: -0.05vw -0.1vw 0.05vw #fff;
}
.service_block-links .service_links-link span {
  opacity: 0;
}
.service_block-links-development {
  grid-area: service_block-links-development;
}
.service_block-links-development a.service_links-link h3 {
  top: 50%;
  left: 22%;
  padding: 1.7rem 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.service_block-links-hosting {
  grid-area: service_block-links-hosting;
}
.service_block-links-hosting a.service_links-link h3 {
  position: absolute;
  bottom: 10%;
  border: 3px dashed #175EE8;
  padding: 1rem;
  background-color: #fff;
  font-weight: bold;
  color: #175EE8;
}
.service_block-links--consultation {
  grid-area: service_block-links--consultation;
}
.service_block-links--consultation h3 {
  color: #fff;
}
.service_block-links-security {
  grid-area: service_block-links-security;
}
.service_block-links-design {
  grid-area: service_block-links-design;
}
.service_block-links--service {
  grid-area: service_block-links--service;
}
.service_block-links-job {
  grid-area: service_block-links-job;
}
.service_block-links-others {
  grid-area: service_block-links-others;
}

footer {
  margin-top: 2.7vw;
  background-color: #aecaff;
}
footer #footer {
  display: grid;
  max-width: 1520px;
  margin: auto;
  padding: 0.7vw 0;
  grid-gap: 2em;
  grid-template-columns: repeat(4, 1fr);
}
footer #footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer #footer .footer h3 {
  font-weight: bold;
  font-size: 1.7vw;
  padding: 0.4vw 0;
}
footer #footer .footer a {
  font-size: 1vw;
  line-height: 1.7vw;
  padding-left: 0.4vw;
}
footer #footer .footer a:hover {
  color: #1565FF;
  border-bottom: 1px dashed #fff;
  border-left: 1px dashed #fff;
}

@media (max-width: 1280px) {
  .top_bar-logo div {
    width: 60%;
    -webkit-filter: blur(2.7vw);
            filter: blur(2.7vw);
  }

  .service_links {
    max-width: 90vw;
  }
  .service_links h1 {
    font-size: 3vw;
    line-height: 6vw;
    margin: 0;
  }
  .service_links-link {
    height: 12vw;
    line-height: 12vw;
  }

  footer {
    margin-top: 2vw;
    max-width: 90vw;
  }
  footer .footer h3 {
    font-size: 2.1vw;
    padding: 0.6vw 0;
  }
  footer .footer a {
    font-size: 1.4vw;
    line-height: 2.1vw;
    padding-left: 0.6vw;
  }
}
@media (max-width: 992px) {
  .top_bar-logo a {
    font-size: 4vw;
    line-height: 6vw;
  }
  .top_bar-logo div {
    width: 70%;
    height: 6vw;
    -webkit-filter: blur(4vw);
            filter: blur(4vw);
  }
  .top_bar-menu-main {
    font-size: 2.1vw;
    line-height: 3vw;
  }
  .top_bar-menu-profile-name {
    font-size: 2.1vw;
  }
  .top_bar-menu-profile-img {
    width: 6vw;
    height: 6vw;
  }
  .top_bar-menu-profile-sign_up {
    display: none;
  }

  .form-login {
    height: 60vw;
    width: 60vw;
  }
  .form-login-blur {
    height: 100vw;
    width: 90vw;
  }
  .form-login_container {
    font-size: 2.7vw;
  }
  .form-login_container input {
    padding: 1.7vw;
    margin: 1.2vw 0 2.7vw;
    color: #fff;
  }
  .form-login_container button {
    padding: 1.7vw;
    margin-top: 0.7vw;
  }
  .form-login_container a {
    margin: 1.7vw auto 0;
    font-size: 1.4vw;
    line-height: 2.1vw;
  }
  .form-login_container a span {
    border-bottom: 3px dotted #1565FF;
    font-size: 2.1vw;
  }
  .form-login_container_cancel {
    font-size: 1.7vw;
    padding: 1.2vw;
    border: 2px solid transparent;
    -o-border-image: linear-gradient(to right, #00C2FF, #1565FF);
       border-image: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
       border-image: linear-gradient(to right, #00C2FF, #1565FF);
    border-image-slice: 1;
  }

  .service_links {
    max-width: 100vw;
  }
  .service_links h1 {
    font-size: 4vw;
    line-height: 7vw;
    margin: 0;
  }
  .service_links-link {
    height: 15vw;
    line-height: 15vw;
    font-size: 2.1vw;
  }

  footer {
    max-width: 100vw;
  }
  footer .footer h3 {
    font-size: 2.7vw;
    padding: 0.7vw 0;
  }
  footer .footer a {
    font-size: 1.7vw;
    line-height: 2.7vw;
    padding-left: 0.4vw;
  }
}
@media (max-width: 767px) {
  .top_bar-logo a {
    font-size: 6vw;
    line-height: 7vw;
  }
  .top_bar-logo div {
    width: 77%;
    height: 7vw;
    -webkit-filter: blur(4vw);
            filter: blur(4vw);
  }
  .top_bar-menu-main {
    display: none;
  }
  .top_bar-menu-main_active {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    width: 100vw;
    right: -29.3vw;
    top: 11vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 9999;
  }
  .top_bar-menu-main_active a {
    font-size: 4vw;
    line-height: 7vw;
  }
  .top_bar-menu-btn {
    display: block;
    width: 100%;
    background-color: #fafafa;
    border: 3px solid #FF003D;
    -o-border-image: linear-gradient(to right, #1565FF, 50%, #FF003D);
       border-image: -webkit-gradient(linear, left top, right top, from(#1565FF), color-stop(50%), to(#FF003D));
       border-image: linear-gradient(to right, #1565FF, 50%, #FF003D);
    border-image-slice: 1;
    font-size: 4vw;
    line-height: 7vw;
    text-align: center;
  }
  .top_bar-menu-btn_active {
    border: 3px dotted #FF003D;
    background-color: white;
  }

  .form-login {
    height: 70vw;
    width: 70vw;
  }
  .form-login-blur {
    height: 100vw;
    width: 90vw;
  }
  .form-login_container {
    font-size: 3.1vw;
  }
  .form-login_container_cancel {
    font-size: 2.1vw;
    padding: 1.2vw;
    border: 2px solid transparent;
    -o-border-image: linear-gradient(to right, #00C2FF, #1565FF);
       border-image: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
       border-image: linear-gradient(to right, #00C2FF, #1565FF);
    border-image-slice: 1;
  }
  .form-login-profile-name {
    font-size: 2.7vw;
  }
  .form-login-profile-img {
    width: 7vw;
    height: 7vw;
  }

  .service_links h1 {
    font-size: 7vw;
    line-height: 11vw;
    margin-bottom: 0;
  }
  .service_links-link {
    height: 50vw;
    font-size: 6vw;
    line-height: 50vw;
  }

  footer {
    margin-bottom: 3.7vw;
  }
  footer .footer h3 {
    font-weight: bold;
    font-size: 4vw;
    padding: 3vw 0 1.7vw;
  }
  footer .footer a {
    font-size: 2.7vw;
    line-height: 3.7vw;
    padding: 0.7vw 0 1.2vw 1.7vw;
  }
  footer .footer a:hover {
    color: #1565FF;
    border-bottom: 1px dashed #fff;
    border-left: 1px dashed #fff;
  }
}
@media (max-width: 576px) {
  .top_bar-logo a {
    font-size: 7vw;
    line-height: 9vw;
  }
  .top_bar-logo div {
    height: 9vw;
    -webkit-filter: blur(7vw);
            filter: blur(7vw);
  }
  .top_bar-menu-btn {
    font-size: 4.6vw;
    line-height: 9vw;
  }
  .top_bar-menu-profile-login {
    line-height: 4.6vw;
  }
  .top_bar-menu-profile-name {
    font-size: 2.1vw;
  }
  .top_bar-menu-profile-img {
    width: 6vw;
    height: 6vw;
  }

  .form-login {
    height: 80vh;
    width: 90vw;
  }
  .form-login-blur {
    height: 127vw;
    width: 90vw;
  }
  .form-login_container {
    font-size: 4.6vw;
  }
  .form-login_container input {
    padding: 2.7vw;
    margin: 2.1vw 0 4.6vw;
    color: #fff;
  }
  .form-login_container button {
    padding: 2.7vw;
    margin-top: 1.7vw;
  }
  .form-login_container a {
    margin: 3.7vw auto 0;
    font-size: 2.7vw;
    line-height: 2.7vw;
  }
  .form-login_container a span {
    border-bottom: 3px dotted #1565FF;
    font-size: 3.7vw;
  }
  .form-login_container_cancel {
    top: 2vw;
    right: 2vw;
    font-size: 3.4vw;
    padding: 2.1vw;
    border: 2px solid transparent;
    -o-border-image: linear-gradient(to right, #00C2FF, #1565FF);
       border-image: -webkit-gradient(linear, left top, right top, from(#00C2FF), to(#1565FF));
       border-image: linear-gradient(to right, #00C2FF, #1565FF);
    border-image-slice: 1;
  }

  .service_links-link {
    height: 50vw;
    font-size: 6vw;
    line-height: 50vw;
  }

  body h1 {
    font-size: 7vw;
    margin: 1.7vw 0;
  }

  footer {
    margin-bottom: 3.7vw;
  }
  footer .footer h3 {
    font-weight: bold;
    font-size: 6vw;
    padding: 6vw 0 2.7vw;
  }
  footer .footer a {
    font-size: 3.7vw;
    line-height: 4.7vw;
    padding: 0.7vw 0 1.2vw 1.7vw;
  }
  footer .footer a:hover {
    color: #1565FF;
    border-bottom: 1px dashed #fff;
    border-left: 1px dashed #fff;
  }
}
